[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==9.0.0"
port-for = "==1.0.0"
mirakuru = "==3.0.1"
packaging = "==25.0"
psycopg = "==3.2.12"

[dev-packages]
towncrier = "==25.8.0"
psycopg-binary = {version = "==3.2.12", markers="implementation_name == 'cpython'"}
pytest-cov = "==7.0.0"
pytest-xdist = "==3.8.0"
mock = "==5.2.0"
mypy = {version = "==1.19.0", markers="implementation_name == 'cpython'"}
types-setuptools = "==80.9.0.20250822"
tbump = "==6.11.0"
