name: Render Mermaid Diagrams
on:
  push:
    paths:
      - 'docs/*.mmd' # Trigger only when mermaid files change

jobs:
  render:
    runs-on: ubuntu-latest
    # Grant the action permission to write to the repository
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Mermaid CLI
        run: npm install -g @mermaid-js/mermaid-cli

      - name: Render Diagrams
        run: |
          for file in docs/*.mmd; do
            base="$(basename "${file}" .mmd)"
            mmdc -p docs/puppeteer-config.json -i "${file}" -o "docs/images/${base}.svg" -t neutral
          done

      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "docs: update rendered mermaid diagram [skip ci]"
          file_pattern: 'docs/images/*.svg'
